.card {
  margin-bottom: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  margin-left: 10px;
  margin-right: 10px;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  bottom: 5px;
}

.content {
  padding: 10px;
  text-align: center;
  font-weight: 900;
  background-color: #222222;
  color: #ffffff;
}